#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 13%;
    width: 100%;
    background-color: #74767F;
    color: #fff;
    box-shadow: 0px 0px 30px #777777;
    font-family: ingelby;
}
#sidebar {
    position: absolute;
    font-family: ingelby;
    background-color: #8A8C94;
    top: 13%;
    left: 0px;
    width: 13%;
    height: 87%;;
}
html,
body {
  height: 100%;
  width: 100%;
}
.filter {
    color: #000;
}
.filterCheckBox {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.filterBody {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
#content {
    font-family: ingelby;
    margin-left: 14%;
    margin-top: 6%;
	height: 87%;
	width: 84%;
}
.no-pad{
  padding: 0px!important;
}
#statsTable{
  padding: 0px!important;
}
@font-face {
    font-family: ingelby;
    src: url('../fonts/Ingleby_regular.ttf');
}

.btn{
    display: block;
    width: 100%;
}
